:root{

    --yellow: rgb(244, 208, 78);
    --black: hsl(0, 0%, 7%);
    --grey-dark :  hsl(0, 0%, 42%)
}

@font-face {
    font-family: 'ExtraBold'; /* Choose a name for the font */
    src: url('../fonts/static/Figtree-ExtraBold.ttf') format('truetype'); /* Adjust the path if needed */
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Variable'; /* Choose a name for the font */
    src: url('../fonts/Figtree-VariableFont_wght.ttf') format('truetype'); /* Adjust the path if needed */
    font-weight: normal;
    font-style: normal;
  }

*,*::after,*::before{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,svg{
    display: block;
    width: 100%;
}

body{
    height: 100%;
    background-color: var(--yellow);
    font-family: 'Variable', sans-serif  ;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card{
    background-color: white;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.6rem;
    box-shadow: 0.5rem 0.5rem;
}

.card-img img{
    margin-bottom: 1rem;
    border-radius: 3%;
}

.progress{
    font-size: 13px;
    font-weight: 300;
    padding: 1% 3% ;
    display: inline-block;  
    background-color: var(--yellow);
    border-radius: 8%;
    margin-bottom: 1rem;
}
.author img{
   
    width: 2rem;
}
.author{
    display: flex;
    align-items: center;
    gap: 2%;
}
.date{

    font-size: 13px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.topic{

   font-family: 'ExtraBold', sans-serif; 
   color: var(--black);
   font-size: 1rem;
   padding-bottom: 1rem;
}

.description{

    font-size: 1rem;
    color: var(--grey-dark);
    padding-bottom: 1rem; 
}
.author p{
    font-size: 16px;
   font-family: 'ExtraBold', sans-serif; 

    color: var(--black);
}

.topic h2:hover{
 color: var(--yellow);
}